<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abdominal</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body class="bb">
    <div class="odd">
        <h1 class="heading1"><strong>Abdominal</strong></h1>
        <img src="https://www.verywellfit.com/thmb/lUjI-i8xtEC0vC8r96H74o3ZEpw=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/boat-56aa41063df78cf772aed024.jpg" alt="abdominal"
        class="img" srcset="">
        <p class="para1">Practicing these poses will improve your abdominal strength, one element of core strength that also helps keep back pain at bay. Yoga poses for abs include:</p>
        <ul class="list">
            <li>
                <strong>Beginner:</strong> Cat-cow stretch
                
            </li>
            <li>
                <strong>Intermediate:</strong> Crow pose
            </li>
            <li>
                <strong>Advanced:</strong> Handstand
            </li>
        </ul>
    </div>

    <div class="even">
        <h1 class="heading2" id="chul">Beginner</h1>
        <h2 class="heading3">Cat-Cow Stretch (Chakravakasana)</h2>
        <!-- <video src="https://www.verywellfit.com/thmb/GNHlVTEPnJvFLRKpyUT01Nkafow=/750x0/filters:gifv(webm)/Cat-CowStretch_annotated-8901d7787ad44b21bd3ffe2a2e97fdc9.gif"></video> -->
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR9CkqUq3aQ1sLv2xwqEVXcB_MgYOlMRpZCuA&usqp=CAU" class="img" alt="">
        <p class="list"><strong>Targets</strong> : Spine and abdominals</p>
        <p class="list"><strong>Level</strong> : Beginner</p>
        <p class="para1">The Cat-Cow Stretch (Chakravakasana) is a yoga essential and for good reason. It involves moving the spine from a rounded position (flexion) to an arched one (extension). Each movement is done in conjunction with either an inhalation or exhalation of the breath, making this a simple vinyasa (linking breath to movement).</p>
        <h3 class="heading4">Benefits</h3>
        <p class="para1">
            Flexing and extending the spine can help improve circulation in the discs in your back. It's a basic motion, but one that can be enormously beneficial in supporting the back and easing pain and maintaining a healthy spine, especially if you spend a lot of time sitting.

Cat-Cow Stretch can help you improve your posture and balance. It is also believed to be a good stress-reliever and calming pose, since you link the movements with your breathing.</p>
        <h3 class="heading4">Step-by-Step Instructions</h3>
        <ul class="bsdk">
            <li>Start on your hands and knees, aligning your wrists underneath your shoulders and your knees underneath your hips.</li>
            <li>Think of the spine as a straight line connecting the shoulders to the hips. Try visualizing the line extending forward through the crown of the head and back through the tailbone. This is the position of a neutral spine.</li>
            <li>Keep the neck long by looking down and out.</li>
            <h4 class="heading5">Inhale and Arch for Cow Pose</h4>
            <li>Curl your toes under.</li>
            <li>Tilt your pelvis back so that your tailbone sticks up.</li>
            <li>Let this movement ripple from your tailbone up your spine so that your neck is the last thing to move.</li>
            <li>Your belly drops down, but keep your abdominal muscles hugging your spine by drawing your navel in.</li>
            <li>Take your gaze gently up toward the ceiling without cranking your neck.</li>
            <h4 class="heading5">Exhale and Round for Cat Pose</h4>
            <li>Release the tops of your feet to the floor.</li>
            <li>Tip your pelvis forward, tucking your tailbone. Again, let this action move up your spine. Your spine will naturally round.</li>
            <li>Draw your navel toward your spine.</li>
            <li>Drop your head.</li>
            <li>Take your gaze to your navel.</li>
        </ul>

        <h3 class="heading4">Common Mistakes</h3>
        <h4 class="heading5">Don't Strain Your Neck</h4>
        <p class="para1">When you lift your gaze to the ceiling, do so with control and don't overextend your neck. When you go into Cat, let your head drop naturally rather than forcing it down. Also, be sure to keep your shoulders relaxed and not drawn up toward your ears.</p>
        <h4 class="heading5">Keep the Movement in the Spine</h4>
        <p class="para1">Keep the arms straight so the movement is with the spine and not your arms and elbows.</p>
        
            <br>
    </div>

    <div class="odd">
        <h1 class="heading2">Intermediate</h1>
        <h2 class="heading3">Crow Pose (Bakasana)</h2>
        <img src="https://assets.website-files.com/61384703bca2db472ca04cfa/631ee9988b04340d44aafc48_crow.jpg" alt="" class="img">
        <p class="list"><strong>Also Known As:</strong> Crane Pose, Frog Stand</p>
        <p class="list"><strong>Targets</strong> : Abdominals, arms, wrist, upper back</p>
        <p class="list"><strong>Level</strong> : Intermediate</p>
        <p class="para1">Crow Pose is often the first arm balance that yoga students tackle. Though it looks like it's all about arm strength, the keys are actually learning where your center of gravity is and how to distribute your weight so that you can balance.

            The biggest hurdle to overcome is usually a reluctance to move enough of your weight forward into your hands. When you find that sweet spot, the feet just pop off the floor almost on their own.</p>
        <h3 class="heading4">Benefits</h3>
        <p class="para1">
            Crow Pose strengthens the wrist, forearms, and abdomen while stretching your upper back. It improves balance and core strength.

Mastering Crow builds your yoga confidence and opens the door to many more poses involving arm balance. It can also improve your awareness of where your body is in space (called proprioception) and enhance your body control.</p>
        <h3 class="heading4">Step-by-Step Instructions</h3>
        <ul class="bsdk">
            <li>Bend your knees slightly so that you can bring your palms flat on the floor, about shoulder distance apart.</li>
            <li>Plant your palms firmly on the mat about a foot in front of your feet. Spread your fingers wide and press into the top joint of each finger.</li>
            <li>Bend your elbows straight back. Don't bend them into full Chaturanga arms, but head in that direction.</li>
            <h4 class="heading5">Come up onto the balls of your feet and open your knees so that they line up with your upper arms.</h4>
            <li>Place your knees on the backs of your upper arms.</li>
            <li>Begin to bring your weight forward into your hands, lifting your head as you go.</li>
            <li>Come up onto your tiptoes, lifting one foot and then the other off the floor.</li>
            <li>Engage the inner thighs for support while keeping the knees on the arms.</li>
            <li>Hug your feet toward your butt.</li>
            <li>Focus on the feeling of the body lifting. Avoid sinking into the pose, which can dump weight into the shoulders.</li>
            <li>To come out, exhale and transfer your weight back until your feet come back to the floor.</li>
        </ul>

        <h3 class="heading4">Common Mistakes</h3>
        <p class="para1">Once you come up into the pose, do not let your elbows splay out to either side. Keep them in line with your shoulders and wrists.

            Otherwise, you will be placing too much weight on the outside of the wrists, which can lead to injury.3 You can help prevent this by really gripping your fingertips into the ground and making sure your elbows are over your wrists.
            
            Your knees should be as high up into your arms as you can get them, not allowing your legs to rest on your arms. Be sure you are using your core muscles to hold the legs up and not just relying on your hips.

            The trickiest part of the pose is figuring out how to transfer enough weight onto your hands so that your feet come up but you don't pitch forward. Practice regularly at home so you learn what using the right technique feels like.</p>
        
            <br>
    </div>

    <div class="even">
        <h1 class="heading2">Advanced</h1>
        <h2 class="heading3">Handstand Pose (Adho Mukha Vrksasana)</h2>
        <img src="https://www.yogateket.com/image/original/handsand.jpg" class="img" alt="">
        <p class="list"><strong>Targets</strong> : Shoulders, wrists, arms, balance</p>
        <p class="list"><strong>Level</strong> : Advanced</p>
        <p class="para1">Handstand (Adho Mukha Vrksasana) has become a glorified yoga pose that can exclude many from feeling as though their practice is up to par. It's important to remember that it doesn't matter how perfect your Handstand Pose looks, especially on Instagram. If you never get away from the wall, it's actually not such a big deal—you get the benefits of the inversion either way.

            Handstand is so much about a strong core. Work on your core strength if this pose seems out of reach. By practicing your Plank, Tree Pose, Downward Facing Dog, and Four-Limbed Staff Pose, you will build the strength and balance needed for Handstand.</p>
        <h3 class="heading4">Benefits</h3>
        <p class="para1">
            Handstand builds strength in your shoulders, arms, and core. The psoas muscle also gets a workout in keeping your spine stabilized while creating more flexibility through the hamstrings in order to kick up into the pose.

As an inversion, it sends blood to your head, which can both be energizing and conversely help to calm you. Handstand also helps you improve your sense of balance.

Like all poses that are difficult, it's fun to accomplish something that you doubted your ability to do.</p>
        <h3 class="heading4">Step-by-Step Instructions</h3>
        <ul class="bsdk">
            <li>Come into Downward Facing Dog with your hands about 6 inches away from the wall.</li>
            <li>Walk your feet in closer to your hands, bringing the shoulders over your wrists and, if possible, your hips over your shoulders.</li>
            <li>Keep your right foot on the ground lifting onto the ball of it and begin to bend at the knee. Lift the other foot off the floor straightening the lifted leg behind you. Take a few hops here, jumping off from the bent leg and lifting the straight leg toward vertical. Flex your lifted food the entire time for engagement.</li>
            <li>Try bringing both heels to the wall. Keep your head down between your upper arms and breathe deeply.</li>
            <li>Practice taking the heels off the wall and balancing, remembering to keep your feet flexed. You will need to strongly engage your legs and reach up through your heels. You can also start to work on bringing your gaze to the floor.</li>
            <li>Bring one leg down at a time and rest before trying to kick up with the opposite leg for balance.</li>
        </ul>

        <h3 class="heading4">Common Mistakes</h3>
        <p class="para1">When you raise your leg, be sure to keep your hips square and don't rotate your raised leg. Otherwise, your center of gravity will be shifted and you won't be able to balance into Handstand.

            When new to handstand, it is common to kick up too quickly which will also throw off your balance. Remember to go slow as it's more about control and alignment rather than speed. It's common for some to bend at the elbows as they kick up but make sure to keep arms straight and stable as they are your base. Gaze in between your hands, not behind you.</p>
            <br>
    </div>

    <!--==================== FOOTER ====================-->
    <!-- <footer class="footer">
        <div class="footer__container container grid">
            <div class="footer__content grid">
                <div>
                    <a href="#" class="footer__logo">
                        Yoga
                    </a>
                    <p class="footer__description">
                        Take care of your health and <br>
                        your mind with the best <br>
                        Yoga classes.
                    </p>
                </div>
                <div class="footer__data grid">
                    <div>
                        <h3 class="footer__title">Address</h3>
                        <p class="footer__info">
                            Teacher's Colony <br>
                            Kumarswamy Layout
                        </p>

                    </div>

                    <div>
                        <h3 class="footer__title">Contact</h3>
                        <p class="footer__info">
                            +123 456 789 <br>
                            YogaMan@gmail.com
                        </p>

                    </div>

                    <div>
                        <h3 class="footer__title">Office</h3>
                        <p class="footer__info">
                            Monday-Saturday <br>
                            9AM- 10PM
                        </p>
                    </div>
                </div>
            </div>

        <div class="footer__group">
            <ul class="footer__social">
                <li>
                    <a href="https://www.facebook.com/" target="_blank" class="footer__social-link"><i
                            class="ri-facebook-circle-fill"></i></a>
                </li>

                <li>
                    <a href="https://www.instagram.com/" target="_blank" class="footer__social-link"><i
                            class="ri-instagram-line"></i></a>
                </li>

                <li>
                    <a href="https://www.twitter.com/" target="_blank" class="footer__social-link"><i
                            class="ri-twitter-line"></i></a>
                </li>

                <li>
                    <a href="https://www.youtube.com/" target="_blank" class="footer__social-link"><i
                            class="ri-youtube-line"></i></a>
                </li>
            </ul>
            <span class="footer__copy">
                ©Copyrights YogMan.All rights reserved 2023
            </span>
        </div>
        </div>
    </footer>
     <!--========== SCROLL UP ==========-->
     <a href="#" class="scrollup" id="scroll-up">
        <i class="ri-arrow-up-line"></i>
    </a>

    <!--=============== SCROLLREVEAL ===============-->
    <script src="assets/js/scrollreveal.min.js"></script>

    <!--=============== MAIN JS ===============-->
    <script src="assets/js/main.js"></script> -->
</body>
</html>