<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Legs</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <!-- <link rel="stylesheet" href="/assets/css/styles.css"> -->
</head>
<body class="bb">
    <div class="odd">
        <h1 class="heading1"><strong>Legs</strong></h1>
        <img src="https://www.verywellfit.com/thmb/ZnbCicdK5Xm2eJ8RmXPwC2_dYj0=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/bigwarrior2-56aa40ee3df78cf772aece0e.jpg" alt="legs" srcset="" class="img">
        <p class="para1">Standing poses do the most to strengthen your legs. While the focus is on your legs, these poses also incorporate the rest of your body. Yoga poses for leg strength include:</p>
        <ul class="list">
            <li>
                <strong>Beginner:</strong> Downward facing dog, Extended side angle pose
            </li>
            <li>
                <strong>Intermediate:</strong> Eagle pose
            </li>
            <li>
                <strong>Advanced:</strong> Half moon pose
            </li>
        </ul>
    </div>

    <div class="even">
        <h1 class="heading2" id="chul">Beginner</h1>
        <h2 class="heading3">Downward Facing Dog (Adho Mukha Svanasana)</h2>
        <img src="https://5217252.fs1.hubspotusercontent-na1.net/hubfs/5217252/downward-facing-dog-adho-mukha-svanasana-2021-08-26-15-32-21-utc.jpg" alt="Downward Facing Dog" class="img">
        <p class="list"><strong>Also Known As</strong> : Downward Dog, Downdog</p>
        <p class="list"><strong>Targets</strong> : Hamstring and calf stretch, mild inversion</p>
        <p class="list"><strong>Level</strong> : Beginner</p>
        <p class="para1">Downward Facing Dog (Adho Mukha Svanasana) is the poster pose for yoga. The reason it has become the best-known asana is that it's so important in contemporary practice. It may be the first pose you learn as you begin a yoga practice. It is done many times during most yoga classes, particularly in Vinyasa yoga. It acts as a transitional pose and can be a resting position. Downward Dog is one of the poses in the Sun Salutation sequence.</p>
        <h3 class="heading4">Benefits</h3>
        <p class="para1">
            Downward Facing Dog stretches the hamstrings and calves, and it strengthens the arms and legs.1 The pose also helps increase the strength of the external oblique abdominal muscles.2
            
            As a mild inversion, Downward Dog acts in reverse of the usual forces on your spine and brings more blood flow to your brain. When incorporated into a weekly yoga practice, it may even help relieve chronic back pain.</p>
        <h3 class="heading4">Step-by-Step Instructions</h3>
        <ul class="bsdk">
            <li>Come to your hands and knees with your wrists underneath the shoulders and your knees underneath the hips.</li>
            <li>Curl your toes under and push back through your hands to lift your hips and straighten your legs.</li>
            <li>Spread your fingers and ground down from the forearms into the fingertips.</li>
            <li>Outwardly rotate your upper arms to broaden the collarbones.</li>
            <li>Let your head hang and move your shoulder blades away from your ears towards your hips.</li>
            <li>Engage your quadriceps strongly to take the burden of your body's weight off your arms. This action goes a long way toward making this a resting pose.</li>
            <li>Rotate your thighs inward, keep your tail high, and sink your heels towards the floor.</li>
            <li>Check that the distance between your hands and feet is correct by coming forward to a plank position. The distance between the hands and feet should be the same in these two poses. Do not step the feet toward the hands in Down Dog in order the get the heels to the floor.</li>
            <li>Exhale and bend your knees to release and come back to your hands and knees.</li>
        </ul>

        <h3 class="heading4">Common Mistakes</h3>
        <h4 class="heading5">Not Releasing Your Heels</h4>
        <p class="para1">The most common issue with beginners' Downward Facing Dog is that they don't release their heels toward the floor. If you are up on the balls of your feet, it shifts the trajectory of the pose forward instead of back. It will never be a resting position unless you take your weight back into your heels.

            This doesn't mean that the heels have to touch the floor; they just have to be moving in that direction. If your teacher gives you an adjustment in this pose, it's most often to gently pull or push your hips back. Keep that feeling in mind and use it to adjust yourself.</p>
        <h4 class="heading5">Butt Position</h4>
        <p class="para1">To get your butt in the right position, bend your knees, coming up onto the balls of your feet (just for a minute!). Bring your belly to rest on your thighs and your sit bones up high. Then sink your heels and straighten your legs while keeping the high upward rotation of the sit bones.</p>
        <h4 class="heading5">Banana Back</h4>
        <p class="para1">If you are very flexible, try not to let your rib cage sink towards the floor, creating a sinking spine (also known as banana back). Draw your ribs in to maintain a flat back.</p>
        <h4 class="heading5">Foot Position</h4>
        <p class="para1">Your toes should be pointing toward the front of your mat. It's quite common for new students to want to turn their feet out, especially if they've had dance training.

            The distance between the feet can also be problematic. Very often, students take them too wide (near the edges of the mat) or too narrow (touching one another).
            
            Your feet should be hip-width apart, which leaves about 6 inches of space between them, give or take a bit depending on your size. Set up the feet correctly, release the heels, keep your butt high, and you'll have a good foundation for this pose.
            
            </p>

            <br>

        <h2 class="heading3">Extended Side Angle (Utthita Parsvakonasana)</h2>
        <img src="https://cdn.yogajournal.com/wp-content/uploads/2018/01/extendedsideangle-yogapedia.jpg" alt="Downward Facing Dog" class="img">
        <p class="list"><strong>Also Known As</strong> : Warrior Angle (Virabhadra Konasana)</p>
        <p class="list"><strong>Targets</strong> : Legs, hips, hamstrings, chest-opener</p>
        <p class="list"><strong>Level</strong> : Beginner</p>
        <p class="list">Extended Side Angle Pose is often taught in Vinyasa flow classes as part of a standing sequence. It is a great opportunity to deepen into a classic shape with a focus on balance, breath, and extending through the side body. You might also use it to prepare for poses that have a wide groin spread, such as Bound Angle Pose or Wide-Angle Seated Forward Fold Pose.</p>
        <h3 class="heading4">Benefits</h3>
        <p class="para1">
            Extended Side Angle strengthens and stretches the legs, hips, and hamstrings. It also opens the chest and shoulders, which can be beneficial if you have any stiffness in your shoulders or back. Extended Side Angle is also a great side body stretch.</p>
        <h3 class="heading4">Step-by-Step Instructions</h3>
        <ul class="bsdk">
            <li>Exhale and step your left foot behind towards the back of the mat with front foot staying at the top.</li>
            <li>Lift and extend your arms out horizontally from your sides, with palms down.</li>
            <li>Angle your right heel toward the center of your mat. Opinions vary on the ideal angle for the foot in relation to the ankle. Somewhere between 90 (which would be parallel to the back edge of your yoga mat) and 45 (toes pointing at the top left corner of your mat) degrees is acceptable.</li>
            <li>Bend your right knee so that your calf and thigh form a right angle with your thigh parallel to the floor.</li>
            <li>Rest your right forearm on the right thigh with the palm turned up towards the ceiling. If you'd like to deepen the stretch, bring your right hand inside or outside the right foot, depending on which is more comfortable.You can place the right fingertips on the floor for added length and to also avoid dumping the weight in the shoulder. A block underneath the hand is also welcomed. Remember to lift the weight out of the shoulder while engaging the core for support.</li>
            <li>Lift your left arm up and extend it over the ear. Reach through finger tips while pressing firmly into the pinky toe side of the back foot.</li>
            <li>Open your chest and make sure your left shoulder is aligned over your right shoulder.</li>
            <li>Bring your gaze up toward your left hand.</li>
            <li>Lift the torso up on an inhale extending arms wide. Pivot the feet and torso to face the top of the mat and step forward, returning to tadasana.</li>
            <li>To keep the body in balance, repeat the pose with your left foot forward.</li>
        </ul>

        <h3 class="heading4">Common Mistakes</h3>
        <h4 class="heading5">Knee Ahead of Ankle</h4>
        <p class="para1">You do not want your bent knee to extend farther forward than your ankle as that will put increased pressure on your knee. Try to keep your knee directly aligned with your heel. Adjust your stance so it is wider to accommodate this, or bend your leg a little less.</p>
        <h4 class="heading5">Knee Turning Inwards</h4>
        <p class="para1">If your knee collapses inward, which may happen if you have tight hips, it can put stress on the knee joint. Keep your toes and knee aligned throughout the move.</p>
        <h4 class="heading5">Leaning on Arm</h4>
        <p class="para1">Your lower hand should be giving you a little support, but it should be a light amount. Adjust so your weight is mostly on your legs.</p>
        <h4 class="heading5">Heel Off of Ground</h4>
        <p class="para1">Your back heel should remain on the ground. If you find it keeps lifting, position yourself so your foot is against a wall. This will give you a little more support and allow you to press the foot into the wall.
            
            </p>
    </div>

    <div class="odd">
        <h1 class="heading2">Intermediate</h1>
        <h2 class="heading3">Eagle Pose (Garudasana)</h2>
        <img src="https://www.artofliving.org/sites/www.artofliving.org/files/styles/original_image/public/wysiwyg_imageupload/Garudasana%20-%201_0.jpg?itok=M1VE4TTf" class="img">
        <p class="list"><strong>Targets</strong> : Legs, glutes, adductors, shoulders</p>
        <p class="list"><strong>Level</strong> : Intermediate</p>
        <p class="list">Eagle Pose looks like your stereotypical idea of a crazy, twisted-up-like-a-pretzel yoga pose, but it's not so difficult if you break it down. It is a balance challenge, but since the limbs are drawn into the body and the bent knees mean that the center of gravity is low, Eagle Pose is less precarious that most poses where you're standing on one leg. It also works the difficult to access glutes and inner thighs. Additionally, the pose is a great shoulder stretch.</p>
        <h3 class="heading4">Benefits</h3>
        <p class="para1">
            The standing Eagle Pose strengthens your calves, ankles, thighs, and hips as you build your balance and core strength. It helps you develop better concentration. Some people find it beneficial for a low backache or sciatica.

Eagle Pose is truly an antidote for the shoulder strain you feel when your work has you sitting at a computer for long hours. You can do eagle arms a few times a day while seated as part of a desk yoga routine to unkink your shoulders or immediately after your yoga warm up.</p>
        <h3 class="heading4">Step-by-Step Instructions</h3>
        <ul class="bsdk">
            <li>Transfer your weight into your left foot.</li>
            <li>Lift your right foot up off the floor.</li>
            <li>Cross your right thigh over your left thigh as high up the thigh as possible.</li>
            <li>Hook your right foot around your left calf.</li>
            <li>Bring both arms out in front of you and parallel to the floor.</li>
            <li>Bend your arms and cross the left arm over the right, hooking at the elbows. With arms hooked, draw your forearms together and wrap your right palm around your left palm, crossing at the wrists. (Whichever leg is on top, the opposite arm should be on top.)</li>
            <li>Lift the elbows to the height of your shoulders while keeping the shoulders sliding down away from your ears.</li>
            <li>Hold for 5 to 10 breaths.</li>
            <li>Repeat on the other side.</li>
            
        </ul>

        <h3 class="heading4">Common Mistakes</h3>
        <p class="para1">Alignment is important. Be sure that your hands, arms, and thighs are aligned. Eagle Pose is usually done with a straight back, so a rounded back is considered to be less beneficial.</p>
        </div>

        <div class="odd">
            <h1 class="heading2">Advanced</h1>
        <h2 class="heading3">Half Moon Pose (Ardha Chandrasana)</h2>
        <img src="https://newtownathletic.com/wp-content/uploads/2019/06/half-moon-e1561404550702.jpg" alt="Downward Facing Dog" class="img">
        <p class="list"><strong>Targets</strong> : Balance, core, hamstrings</p>
        <p class="list"><strong>Level</strong> : Advanced</p>
        <p class="list">The half moon yoga pose (Ardha Chandrasana) is a standing, balancing pose that's particularly challenging. It's an intermediate pose, so be sure you know your yoga fundamentals and are able to do Triangle Pose before you attempt Half Moon. In a flow sequence, you would go from Triangle to Half Moon to Downward Facing Dog.</p>
        <h3 class="heading4">Benefits</h3>
        <p class="para1">
            This move strengthens the ankles and thighs, stretches the hamstrings. It improves your balance and core strength. If you are a runner, tight hamstrings are often a problem and yoga poses such as Half Moon can be beneficial. Most sports and daily activities benefit by better balance and a strong core, especially as you age.</p>
        <h3 class="heading4">Step-by-Step Instructions</h3>
        <ul class="bsdk">
            <li>Begin in Triangle Pose (trikonasana) with the right leg forward. Bend your right knee softly and bring your left hand to your hip.</li>
            <li>Bring your right hand to the floor in front of your right foot. Your hand should be under your shoulder when you are in the full pose, so in order to set it up in the correct position, place it about a foot in front of and 5 or 6 inches to the right of your right foot. Tent your hand so that just your fingertips on the floor.</li>
            <li>Begin to straighten your right leg while simultaneously lifting your left foot off the floor. Keep your left leg as straight as possible.</li>
            <li>Open your hips, stacking the left hip point on top of the right hip point. </li>
            <li>Bring your left leg straight and parallel to the floor. Flex your left foot strongly with the toes pointing toward the left side of the room.</li>
            <li>When you feel balanced on the right leg, reach the left arm up toward the ceiling, opening the chest and making a straight line with the right and left arms perpendicular to the floor.</li>
            <li>Finally, turn your head so that your gaze is lifted toward your upraised left fingertips.
            </li>
            <li>The balance here for around five breaths before releasing the left leg to the floor and repeating the pose on the other side.</li>
            
        </ul>

        <h3 class="heading4">Common Mistakes</h3>
        <p class="para1">Avoid having your chest rotate toward the floor. A common cause of this is straining to reach the floor with your hand. Placing a block under the right hand can give you the extra elevation that allows the chest to open toward the ceiling more effectively.</p>

    </div>

    <div>

    </div>

    <!--==================== FOOTER ====================-->
    <!-- <footer class="footer">
        <div class="footer__container container grid">
            <div class="footer__content grid">
                <div>
                    <a href="#" class="footer__logo">
                        Yoga
                    </a>
                    <p class="footer__description">
                        Take care of your health and <br>
                        your mind with the best <br>
                        Yoga classes.
                    </p>
                </div>
                <div class="footer__data grid">
                    <div>
                        <h3 class="footer__title">Address</h3>
                        <p class="footer__info">
                            Teacher's Colony <br>
                            Kumarswamy Layout
                        </p>

                    </div>

                    <div>
                        <h3 class="footer__title">Contact</h3>
                        <p class="footer__info">
                            +123 456 789 <br>
                            YogaMan@gmail.com
                        </p>

                    </div>

                    <div>
                        <h3 class="footer__title">Office</h3>
                        <p class="footer__info">
                            Monday-Saturday <br>
                            9AM- 10PM
                        </p>
                    </div>
                </div>
            </div>

        <div class="footer__group">
            <ul class="footer__social">
                <li>
                    <a href="https://www.facebook.com/" target="_blank" class="footer__social-link"><i
                            class="ri-facebook-circle-fill"></i></a>
                </li>

                <li>
                    <a href="https://www.instagram.com/" target="_blank" class="footer__social-link"><i
                            class="ri-instagram-line"></i></a>
                </li>

                <li>
                    <a href="https://www.twitter.com/" target="_blank" class="footer__social-link"><i
                            class="ri-twitter-line"></i></a>
                </li>

                <li>
                    <a href="https://www.youtube.com/" target="_blank" class="footer__social-link"><i
                            class="ri-youtube-line"></i></a>
                </li>
            </ul>
            <span class="footer__copy">
                ©Copyrights YogMan.All rights reserved 2023
            </span>
        </div>
        </div>
    </footer>
     <!--========== SCROLL UP ==========-->
     <a href="#" class="scrollup" id="scroll-up">
        <i class="ri-arrow-up-line"></i>
    </a>

    <!--=============== SCROLLREVEAL ===============-->
    <script src="assets/js/scrollreveal.min.js"></script>

    <!--=============== MAIN JS ===============-->
    <script src="assets/js/main.js"></script> -->
</body>
</html>